
body{

    background-color: rgb(211, 209, 255);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #dee4ff 100%;
    min-height: 100vh;
    background-attachment: fixed;


}
h1{
    background-color: #e78171d2;
   
    text-align: center;
    font-size: 35px;
    color: rgb(0, 0, 0);
    border-radius: 100px;
    
    
}
input{
    background-color: rgb(255, 255, 254);
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 50%; 
}
h2{
     font-size: 23px;

}
label{
    
   color: #3E4B7A; 
  font-size: 2cap;
  line-height: 1.6; 
  margin-bottom: 1.2rem;
}
.botao {
    background-color:#F77F6C; 
    color: white;
    padding: 12px 24px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}


.botao:hover {
    background-color: #E06A57;
}

a{
    text-decoration: none;
    color:  #1837ff;
    
}
a:hover{
    color: #7083ff;
}
input{
    color: #E06A57;
}