body{
    background-color: rgb(211, 209, 255);
    text-align: center;
}
h1{
    background-color: #8e9dff;
    text-align: center;
}
input{
    background-color: rgb(255, 255, 254);
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover; 
    border-radius: 50%; 
}